body{
    background-color: #4de120;
}

h1{
    text-align: center;
    border: 2px solid #70ff44;
}

hr{
    width: %100;
    size: 10px;
}

p{
    text-align: center;
    color: blue;
}



.linkToMain {
    text-align: center;
}