body{
    background-color: #1d98df;
}

h1{
    text-align: center;
    border: 2px solid #70ff44;
}

hr{
    width: %100;
}

p{
    text-align: center;
    color: blue;
}



.linkToMain {
    text-align: center;
}

#map {
    align: center;

}

h2{
    text-align: center;
    border: 2px solid black;
}

.linkToMain {
    text-align: left;
    padding: 10px;
}

#enableGeo {
    align: left;
    height: 10px;
    color: black;
}

#enableConnection {
   horizontal-align: right;
   height: 10px;
}



